        .div body {
            background-color: #1a1a1a  ;
            color: grey  ;
            text-align: center  ;
        }
        .div table {
            border: 1px solid gray  ;
            border-collapse: collapse  ;
            margin: auto  ;
        }
        .table {
            margin: auto  ;
        }
        .div{
        text-align:center;
        }
        .div th {
            padding: 10px  ;
            border: 1px solid gray  ;
        }
        .div tr:hover {
            color: #1a1a1a  ;
            background-color: lightgray  ;
        }
        .div tr:hover td a {
            color: #1a1a1a  ;
        }
        .div td {
            border: 1px solid gray  ;
            padding: 10px  ;
        }
        .div div {
            text-align: center  ;
        }
        .div a {
            color: lightgrey  ;
        }
        .div button {
            border: 0  ;
            color: #fff   ;
            border-radius: 3px  ;
            cursor: pointer  ;
            padding: 5px 10px  ;
            margin: 2px  ;
        }
        .shelve {
            background-color: #01814A  ;
        }
        .remove {
            background-color: #CE0000  ;
        }
        .update {
            background-color: #3C3C3C  ;
        }
        .div button:hover {
            color: #1a1a1a  ;
            background-color: #fff  ;
        }
